@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Handlee&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Handlee&family=Lilita+One&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html, body{
    min-height: 100vh;
}


P{
    font-family: var(--fonte1);
    line-height: 1.9em;
}

:root{
    --fonte1: 'Handlee', cursive;
    --fonte2: 'Lilita One', cursive;
    --fonte3:  'Verdana', Geneva, Tahoma, sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header h1{
    font-family: var(--fonte2);
    padding-top: 50px;
    font-size: 3em;
    font-size: 7vw;
}

header p{
    font-family: var(--fonte3);
    padding-bottom: 50px;
}

header a{
    color: white;
    font-family: var(--fonte3);
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}


section p{
    font-size: 5vw;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.noimg{
    background-color: rgb(255, 255, 255);
}

.paralax1{
    background: black url(../imagens/background001.jpg)center center fixed;
    background-size: cover;
    color: white;
    padding: 23px;
    box-shadow: inset 1px 1px 10px 10px rgba(0, 0, 0, 0.26);
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.61);
}

.paralax1 p{
    background-color: rgba(0, 0, 0, 0.425);
    display: inline-block;
    padding: 10px;
}

.paralax2{
    background: black url(../imagens/background002.jpg)center center fixed;
    background-size: cover;
    color: white;
    padding: 23px;
    box-shadow: inset 1px 1px 10px 10px rgba(0, 0, 0, 0.26);
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.61);
}

.paralax2 p{
    background-color: rgba(0, 0, 0, 0.425);
    display: inline-block;
    padding: 10px;
}

footer{
    background-color: black;
    padding: 20px;
    color: white;
}

footer p{
    font-family: var(--fonte3);
    text-align: center;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}